{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

{{ parent() }}

<h1>Votre interface admin</h1>

<p>Bienvenue sur l'interface administrateur. Cliquez un peu partout pour visiter.</p>
{% endblock %}