<h1>Vous avez reçu une demande de contact</h1>

<p>Quelqu'un vous a envoyé un email à propos de {{ subject }}.</p>
<p>Voici ce qu'il avait à dire :</p>

<p>{{ message }}</p>

<p>
    Si vous voulez lui répondre,
    cliquez sur le bouton "répondre" de votre gestionnaire d'email
    ou bien écrivez un email à : <a href="mailto:{{ emailTo }}">{{ emailTo }}</a></p>

<p>En vous souhaitant une bonne journée.</p>
<p>Cordialement, <br>
    Votre site</p>